n8n-rss-notification-workflow.json
{
  "name": "RSS Feed Monitor & Notifications",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 1
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Every Hour",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 0]
    },
    {
      "parameters": {
        "url": "={{ $json.feed_url }}",
        "options": {}
      },
      "id": "rss-read",
      "name": "Read RSS Feed",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.1,
      "position": [440, 0]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "keyword-filter",
              "leftValue": "={{ $json.title + ' ' + ($json.contentSnippet || '') }}",
              "rightValue": "security|CVE|critical|vulnerability|urgent|breaking|release",
              "operator": {
                "type": "string",
                "operation": "regex"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "filter-keywords",
      "name": "Filter Important Items",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [660, 0]
    },
    {
      "parameters": {
        "operation": "lookup",
        "table": "seen_items",
        "lookupColumn": "guid",
        "lookupValue": "={{ $json.guid || $json.link }}"
      },
      "id": "check-seen",
      "name": "Check If Already Seen",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [880, 0],
      "disabled": true,
      "notesInFlow": true,
      "notes": "Optional: Enable if you want to track seen items"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "YOUR_DISCORD_WEBHOOK_URL",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"embeds\": [{\n    \"title\": \"{{ $json.title }}\",\n    \"url\": \"{{ $json.link }}\",\n    \"description\": \"{{ ($json.contentSnippet || '').substring(0, 200) }}...\",\n    \"color\": 15158332,\n    \"footer\": {\n      \"text\": \"{{ $json.feed_name }} | {{ $json.pubDate }}\"\n    }\n  }]\n}",
        "options": {}
      },
      "id": "discord-webhook",
      "name": "Send to Discord",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1100, -100],
      "disabled": true,
      "notesInFlow": true,
      "notes": "Enable and add your Discord webhook URL"
    },
    {
      "parameters": {
        "fromEmail": "n8n@g-eye.io",
        "toEmail": "your-email@example.com",
        "subject": "=RSS Alert: {{ $json.title }}",
        "emailType": "text",
        "message": "=New item from {{ $json.feed_name }}:\n\nTitle: {{ $json.title }}\nLink: {{ $json.link }}\n\nSummary:\n{{ $json.contentSnippet || 'No summary available' }}\n\nPublished: {{ $json.pubDate }}"
      },
      "id": "send-email",
      "name": "Send Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [1100, 100],
      "disabled": true,
      "notesInFlow": true,
      "notes": "Enable and configure SMTP credentials"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "feed_url",
              "value": "https://github.com/siderolabs/talos/releases.atom"
            },
            {
              "name": "feed_name",
              "value": "Talos Releases"
            }
          ]
        },
        "options": {}
      },
      "id": "feed-talos",
      "name": "Talos Releases",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [220, -200]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "feed_url",
              "value": "https://github.com/fluxcd/flux2/releases.atom"
            },
            {
              "name": "feed_name",
              "value": "Flux CD Releases"
            }
          ]
        },
        "options": {}
      },
      "id": "feed-flux",
      "name": "Flux Releases",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [220, -100]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "feed_url",
              "value": "https://github.com/cilium/cilium/releases.atom"
            },
            {
              "name": "feed_name",
              "value": "Cilium Releases"
            }
          ]
        },
        "options": {}
      },
      "id": "feed-cilium",
      "name": "Cilium Releases",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [220, 0]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "feed_url",
              "value": "https://kubernetes.io/feed.xml"
            },
            {
              "name": "feed_name",
              "value": "Kubernetes Blog"
            }
          ]
        },
        "options": {}
      },
      "id": "feed-k8s",
      "name": "Kubernetes Blog",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [220, 100]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "feed_url",
              "value": "https://www.reddit.com/r/selfhosted/.rss"
            },
            {
              "name": "feed_name",
              "value": "r/selfhosted"
            }
          ]
        },
        "options": {}
      },
      "id": "feed-reddit",
      "name": "Reddit Selfhosted",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [220, 200]
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "multiplex",
        "options": {}
      },
      "id": "merge-feeds",
      "name": "Merge All Feeds",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [440, 0],
      "disabled": true
    }
  ],
  "connections": {
    "Every Hour": {
      "main": [
        [
          { "node": "Talos Releases", "type": "main", "index": 0 },
          { "node": "Flux Releases", "type": "main", "index": 0 },
          { "node": "Cilium Releases", "type": "main", "index": 0 },
          { "node": "Kubernetes Blog", "type": "main", "index": 0 },
          { "node": "Reddit Selfhosted", "type": "main", "index": 0 }
        ]
      ]
    },
    "Talos Releases": {
      "main": [
        [{ "node": "Read RSS Feed", "type": "main", "index": 0 }]
      ]
    },
    "Flux Releases": {
      "main": [
        [{ "node": "Read RSS Feed", "type": "main", "index": 0 }]
      ]
    },
    "Cilium Releases": {
      "main": [
        [{ "node": "Read RSS Feed", "type": "main", "index": 0 }]
      ]
    },
    "Kubernetes Blog": {
      "main": [
        [{ "node": "Read RSS Feed", "type": "main", "index": 0 }]
      ]
    },
    "Reddit Selfhosted": {
      "main": [
        [{ "node": "Read RSS Feed", "type": "main", "index": 0 }]
      ]
    },
    "Read RSS Feed": {
      "main": [
        [{ "node": "Filter Important Items", "type": "main", "index": 0 }]
      ]
    },
    "Filter Important Items": {
      "main": [
        [
          { "node": "Send to Discord", "type": "main", "index": 0 },
          { "node": "Send Email", "type": "main", "index": 0 }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1
}
